<!--Edit Collection-->

{% extends "base.html" %}
{% block content %}
<br  />
<form action="{{ url_for('collection.edit_collection_route', collection=request.args.get('collection')) }}" method='post' enctype='multipart/form-data'>
    <input type='file' name='file' id="file_input">
    <input type='text' name='comment'>
    <input type="checkbox" name="carousel"> Put on main page?
    <input type='submit' value='UPLOAD' id="file_submit">
    <input name="op" type="hidden" value="add">

</form>

{% for image in images %}
<img src="{{url_for('static', filename='images/')}}{{image.id}}.{{image.format}}" style="width:500px;heigh:auto;" />
{% endfor %}
{% endblock %}
