<!--helper.html-->
{% macro sidebar(collections) %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/sidebar.css')}}">
<ul id="sidebar">
    <li>
        <a href="{{url_for('main.main_route')}}">
            Home
        </a>
    </li>
    {% for item in collections %}
        <li class="page_link">
            <a href="{{url_for('gallery.gallery_route', collection=item['title'])}}">
                    {{item['title']}}
                </a>
        </li>
    {% endfor %}
    <li>
        <a href="{{url_for('contact.contact_route')}}">
            Contact
        </a>
    </li>
</ul>
{% endmacro %}
