{% import 'helper.html' as helper %}
{% extends "base.html" %} {% block content %}

<div class="row no-gutter">
    <div class="col-lg-2 col-md-2">
        <!--Sidebar -->

        {{helper.sidebar(collections)}}
    </div>
    <div class="col-lg-8 col-md-8">
        <!--Carosel -->
        <div id="mainCarousel" class="carousel slide" data-ride="carousel">
            <!--Non-control indicators-->
            <ol class="carousel-indicators">
                {% for item in slides %}
                <li data-target="#carouselExampleIndicators" data-slide-to="{{loop.index0}}"></li>
                {% endfor %}
            </ol>
            <!-- Objects on Carousel -->
            <div class="carousel-inner" role="listbox">
                {% for slide in slides %}
                <div class="carousel-item">
                    <div style=" width:100%; height:auto;padding:5%;">
                        <img src="{{url_for('static',filename='images/')}}{{slide.id}}.{{slide.format}}"
                            class="d-block img-fluid"\>
                        <div class="carousel-caption d-none d-md-block">
                            <h4>{{slide.label}}</h4>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <!-- Controls-->
            <!--LEFT(prev)-->
            <a class="carousel-control-prev" href="#mainCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <!--RIGHT(next)-->
            <a class="carousel-control-next" href="#mainCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div class="col-lg-2 col-md-2">
    </div>
  </body>
</div>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/index_style.css')}}">
{% endblock %}
